@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #1a5c2a;
    --color-primary-light: #2d7a3a;
    --color-accent: #e8521a;
    --color-gold: #c8961a;
    --font-sans: "Plus Jakarta Sans", sans-serif;
}
